# ===== macOS =====
.DS_Store

# ===== IntelliJ / JetBrains =====
.idea/
*.iml

# ===== Node =====
node_modules/
dist/
.vite/
.next/
out/

# ===== Java =====
**/target/
**/*.log

# ===== Env =====
.env
.env.local

